<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<p>Now is <%= Time.now %><p>

<p>Now is 20XX-XX-XX XX:XX:XX +0000</p>

<% Post.all.reverse.each do |post| %>
  <h3><%= post.title %> </h3>
<% end %>
