<h1>Categories#categories</h1>
<p>Find me in app/views/categories/index.html.erb</p>

<div>
<%= link_to strategies_path, class: 'card-link' do %>
  <h3>Strategy</h3>
  <p> This category encompasses x, y and z</p>
<% end %>
</div>
  <h3>Tactics</h3>
  <h3>Analytics</h3>
  <h3>Technical</h3>
  <h3>Tools</h3>


